:host {
	max-width: 80%;
	border-radius: 10px;
}

.message {
	--outgoing-message-bg: #4ccd5d;
	--incoming-message-bg: var(--app-light-bg);

	width: fit-content;
	padding: 10px;
	border-radius: inherit;
}

.message.incoming {
	background-color: var(--incoming-message-bg);
}

.message.outgoing {
	background-color: var(--outgoing-message-bg);
}

.message-content {
	font-size: 13px;
}

.message-timestamp {
	font-size: 12px;
}
