.message {
	--incoming-message-bg: #4ccd5d;
	--outgoing-message-bg: var(--app-light-bg);

	width: fit-content;
	max-width: 80%;
}

.message.incoming {
	background-color: var(--incoming-message-bg);
}

.message.outgoing {
	background-color: var(--outgoing-message-bg);
}

.message-content {
	font-size: 15px;
}

.message-timestamp {
	font-size: 12px;
}
