:host {
	--unread-message-badge-bg: #4ccd5d;
}

.chat-preview {
	width: 100%;
	min-width: 250px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	padding: 10px 0;
	background-color: var(--app-light-bg);
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.header .avatar {
	border-radius: 50%;
}

.content {
	flex: 1 1;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 5px;
	overflow: hidden;
}

.content .message-preview {
	max-width: 100%;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.extras {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	gap: 10px;
	font-size: 10px;
}

.extras .message-count {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color: var(--unread-message-badge-bg);
	border-radius: 50%;
}
