:host {
	height: 100%;
}

.chat-details {
	width: 100%;
	height: 100%;
	max-width: 300px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.avatar {
	border-radius: 50%;
}

.text-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 5px;
	padding: 5px 0;
}

.last-time-online {
	font-size: 14px;
}
