:host {
	width: 100%;
}

.message-compose-box {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.compose-box-form {
	flex: 1;
}

.message-input {
	width: 100%;
	height: 100%;
}
