<section class="chat-actions">
	<app-clickable-icon
		class="action-icon"
		src="https://cdn-icons-png.flaticon.com/512/3913/3913243.png"
		altText="Video Call"
		[width]="iconSize"
		[height]="iconSize"
	></app-clickable-icon>
	<app-clickable-icon
		class="action-icon"
		src="https://cdn-icons-png.flaticon.com/512/159/159832.png"
		altText="Voice Call"
		[width]="iconSize"
		[height]="iconSize"
	></app-clickable-icon>
	<div class="vertical-divider"></div>
	<app-clickable-icon
		class="action-icon"
		src="https://cdn-icons-png.flaticon.com/512/13/13267.png"
		altText="Search In Chat"
		[width]="iconSize"
		[height]="iconSize"
	></app-clickable-icon>
</section>
